﻿@model FizzBuzzAssesment.Web.Models.FizzBuzzRequest
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-body">
    @using (Html.BeginForm("GenerateFizzBuzz", "FizzBuzz", FormMethod.Post))
    {
        <p>
            @Html.LabelFor(m => m.Number)
            @Html.TextBoxFor(m => m.Number, new { @autocomplete = "off", @min = "1", @max = "1000", @maxlength = "4" })
            <input type="submit" class="" value="Generate" />
            @Html.ValidationMessageFor(m => m.Number)
        </p>
    }
    @if (Model != null && Model.FizzBuzzList != null && Model.FizzBuzzList.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Number List
                </th>
                <th></th>
            </tr>
            @for (int i = 0; i < Model.FizzBuzzList.Count; i++)
            {
                <tr>
                    <td>
                        @foreach (var value in Model.FizzBuzzList[i].Value.Split(' '))
                        {
                            <font class="@value">@value</font>
                        }
                    </td>
                </tr>
            }
        </table>

        @Html.PagedListPager(
                            Model.FizzBuzzList,
                            page => Url.Action("GenerateFizzBuzzPagedData", new { Model.Number, page }),
                            PagedListRenderOptions.Classic)
    }
</div>
@*<div class="jumbotron">
        @using (Html.BeginForm("GenerateFizzBuzz", "FizzBuzz", FormMethod.Post))
        {
            @Html.LabelFor(m => m.Number, new { @class = "text-primary" })
            <span></span>
            @Html.TextBoxFor(m => m.Number, new { @autocomplete = "off", @min = "1", @max = "1000", @maxlength = "4" })
            <input type="submit" class="btn btn-primary" value="Submit" />
            @Html.ValidationMessageFor(m => m.Number)
        }

        @if (Model != null && Model.FizzBuzzList != null && Model.FizzBuzzList.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-lg-6">Result</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.FizzBuzzList.Count; i++)
                    {
                        <tr>
                            <td scope="row">
                                @foreach (var value in Model.FizzBuzzList[i].Value.Split(' '))
                                {
                                    <font class="@value">@value</font>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model.FizzBuzzList, page => Url.Action("GenerateFizzBuzzPagedData", new { Model.Number, page }), PagedListRenderOptions.TwitterBootstrapPager)
        }
    </div>*@